<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Numbers of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Todolist in todo_list_list %}
                    <tr>
                        <td>{{Todolist.name}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
